In [15]:
import pandas as pd
import os
from Levenshtein import distance

## Loading Officers table

In [16]:
df_officers = pd.read_csv(os.getcwd() + os.sep + 'data' + os.sep + 'data_officer.csv')

In [17]:
df_officers.head(20)

,id,gender,race,appointed_date,rank,active,birth_year,first_name,last_name,tags,middle_initial,suffix_name,resignation_date,complaint_percentile,middle_initial2,civilian_allegation_percentile,honorable_mention_percentile,internal_allegation_percentile,trr_percentile
0,3728,M,Black,1966-12-19,Lieutenant,No,1945.0,Jake,Cameron,NaN,B,JR,1995-02-16,54.9532,NaN,NaN,0.0,NaN,NaN
1,4316,M,White,1965-03-01,Police Officer,No,1934.0,Donald,Centnarowicz,NaN,E,NaN,1995-03-16,0.0000,NaN,NaN,0.0,NaN,NaN
2,4526,M,White,1961-02-13,Detective,No,1935.0,Daniel,Chilla,NaN,S,NaN,1995-06-07,0.0000,NaN,NaN,0.0,NaN,NaN
3,5039,M,White,1967-11-20,Sergeant,No,1937.0,Dennis,Collins,NaN,F,NaN,1995-02-26,54.8532,NaN,NaN,0.0,NaN,NaN
4,5238,M,White,1966-02-28,Police Officer,No,1939.0,Carmen,Consolino,NaN,A,NaN,1995-04-13,35.6277,NaN,NaN,0.0,NaN,NaN
5,6287,M,Black,1962-08-13,Police Officer,No,1936.0,Raymond,Davis,NaN,C,NaN,1995-03-10,35.7027,NaN,NaN,0.0,NaN,NaN
6,6389,M,Black,1968-10-28,Police Officer,No,1946.0,William,Davis,NaN,H,JR,1995-06-02,68.0262,NaN,NaN,0.0,NaN,NaN
7,6888,M,White,1966-02-07,Police Officer,No,1936.0,Philip,Dienethal,NaN,A,NaN,1995-02-16,46.4085,NaN,NaN,0.0,NaN,NaN
8,6940,M,White,1966-06-01,Police Officer,No,1945.0,Donald,Dimberg,NaN,W,NaN,1995-07-16,54.4535,NaN,NaN,0.0,NaN,NaN
9,7317,M,White,1962-11-26,Police Officer,No,1931.0,Dennis,Doyle,NaN,T,NaN,1995-07-01,46.0962,NaN,NaN,0.0,NaN,NaN
10,7372,M,White,1978-12-11,Police Officer,No,1954.0,James,Drew,NaN,J,NaN,1995-03-08,35.7152,NaN,NaN,0.0,NaN,NaN
11,7375,M,White,1965-04-05,Sergeant,No,1941.0,James,Drewganis,NaN,W,NaN,1995-07-16,76.6708,NaN,NaN,0.0,NaN,NaN
12,7769,M,Black,1966-06-06,Police Officer,No,1938.0,Charles,Edwards,NaN,N,NaN,1995-02-17,46.3960,NaN,NaN,0.0,NaN,NaN
13,7811,M,White,1967-12-18,Police Officer,No,1943.0,Richard,Ehrmann,NaN,B,NaN,1995-03-03,89.2942,NaN,NaN,0.0,NaN,NaN
14,7956,M,White,1968-03-25,Police Officer,No,1945.0,Philip,Englert,NaN,M,NaN,1995-07-01,0.0000,NaN,NaN,0.0,NaN,NaN
15,8016,M,Black,1966-02-07,Police Officer,No,1938.0,Eugene,Ervin,NaN,NaN,NaN,1995-03-23,35.6777,NaN,NaN,0.0,NaN,NaN
16,8570,M,White,1960-10-10,Police Officer,No,1936.0,Frank,Fiore,NaN,A,NaN,1995-03-09,0.0000,NaN,NaN,0.0,NaN,NaN
17,8812,M,Hispanic,1977-07-18,Police Officer,No,1943.0,Louis,Flores,NaN,NaN,JR,1995-06-05,68.0200,NaN,NaN,0.0,NaN,NaN
18,8814,M,Hispanic,1970-06-15,Police Officer,No,1944.0,Joseph,Floress,NaN,A,NaN,1995-02-16,35.7589,NaN,NaN,0.0,NaN,NaN
19,9098,M,White,1981-06-08,Police Officer,No,1950.0,Terrence,Franzen,NaN,NaN,NaN,1995-08-04,67.6015,NaN,NaN,0.0,NaN,NaN

In [18]:
df_officers.columns

Index(['id', 'gender', 'race', 'appointed_date', 'rank', 'active',
       'birth_year', 'first_name', 'last_name', 'tags', 'middle_initial',
       'suffix_name', 'resignation_date', 'complaint_percentile',
       'middle_initial2', 'civilian_allegation_percentile',
       'honorable_mention_percentile', 'internal_allegation_percentile',
       'trr_percentile'],
      dtype='object')

## Adding a column for the full name

In [19]:
df_officers['middle_initial'] = df_officers['middle_initial'].apply(lambda x: x + '.' if type(x) == str else '')
df_officers['suffix_name'] = df_officers['suffix_name'].fillna('')

In [20]:
df_officers['full_name'] = df_officers['first_name'] + ' '\
                         + df_officers['middle_initial'] + ' '\
                         + df_officers['last_name'] + ' '\
                         + df_officers['suffix_name']

In [21]:
df_officers['full_name'] = df_officers['full_name'].str.strip().str.replace('  ',' ').str.upper()

## Adding a column for the parsed date (now datetime object)

In [22]:
df_officers['parsed_date'] = pd.to_datetime(df_officers['appointed_date'])

In [23]:
df_officers.head()

,id,gender,race,appointed_date,rank,active,birth_year,first_name,last_name,tags,...,suffix_name,resignation_date,complaint_percentile,middle_initial2,civilian_allegation_percentile,honorable_mention_percentile,internal_allegation_percentile,trr_percentile,full_name,parsed_date
0,3728,M,Black,1966-12-19,Lieutenant,No,1945.0,Jake,Cameron,NaN,...,JR,1995-02-16,54.9532,NaN,NaN,0.0,NaN,NaN,JAKE B. CAMERON JR,1966-12-19
1,4316,M,White,1965-03-01,Police Officer,No,1934.0,Donald,Centnarowicz,NaN,...,,1995-03-16,0.0000,NaN,NaN,0.0,NaN,NaN,DONALD E. CENTNAROWICZ,1965-03-01
2,4526,M,White,1961-02-13,Detective,No,1935.0,Daniel,Chilla,NaN,...,,1995-06-07,0.0000,NaN,NaN,0.0,NaN,NaN,DANIEL S. CHILLA,1961-02-13
3,5039,M,White,1967-11-20,Sergeant,No,1937.0,Dennis,Collins,NaN,...,,1995-02-26,54.8532,NaN,NaN,0.0,NaN,NaN,DENNIS F. COLLINS,1967-11-20
4,5238,M,White,1966-02-28,Police Officer,No,1939.0,Carmen,Consolino,NaN,...,,1995-04-13,35.6277,NaN,NaN,0.0,NaN,NaN,CARMEN A. CONSOLINO,1966-02-28

## Loading OfficerArrest table (resulting from Challenge #1)

In [24]:
df_officerarrests = pd.read_csv(os.getcwd() + os.sep + 'data' + os.sep + 'data_officerarrest.csv')

## Adding a column for the parsed date (now datetime object)

In [25]:
df_officerarrests['parsed_date'] = pd.to_datetime(df_officerarrests['APPOINTED DATE'])

## Being extra safe on the full name strings

In [26]:
df_officerarrests["OFFICER'S NAME"] = df_officerarrests["OFFICER'S NAME"].str.strip()

In [27]:
df_officerarrests.head(20)

,CB_number,arrest_year,arrest_id,ID,CB Number3,OFFICER'S NAME,APPOINTED DATE,FIRST NAME,MIDDLE INITIAL,LAST NAME,SUFFIX NAME,parsed_date
0,17126912.0,2008,14993818,2478773.0,17126912.0,CAROL D. MCGHEE,09/30/2002,CAROL,D.,MCGHEE,NaN,2002-09-30
1,17126912.0,2008,14993818,2478774.0,17126912.0,MEGAN M. LYONS,02/28/2000,MEGAN,M.,LYONS,NaN,2000-02-28
2,17127045.0,2008,14993895,2478914.0,17127045.0,BRIAN G. MURPHY,04/30/2001,BRIAN,G.,MURPHY,NaN,2001-04-30
3,17127045.0,2008,14993895,2478915.0,17127045.0,RYAN M. MANNING,10/10/2000,RYAN,M.,MANNING,NaN,2000-10-10
4,17127046.0,2008,14993896,2478916.0,17127046.0,DEREK D. DARNALL,09/27/2004,DEREK,D.,DARNALL,NaN,2004-09-27
5,17127046.0,2008,14993896,2478917.0,17127046.0,MICHAEL J. ONESTO,10/31/2005,MICHAEL,J.,ONESTO,NaN,2005-10-31
6,17127667.0,2008,14994648,2479588.0,17127667.0,JASON D. VAN DYKE,06/25/2001,JASON,D.,VAN DYKE,NaN,2001-06-25
7,17127667.0,2008,14994648,2479589.0,17127667.0,NICHOLAS E. LUDWIG,09/11/2000,NICHOLAS,E.,LUDWIG,NaN,2000-09-11
8,17127779.0,2008,14994764,2479722.0,17127779.0,CHRIS H. ANDERSEN,09/27/2004,CHRIS,H.,ANDERSEN,NaN,2004-09-27
9,17127779.0,2008,14994764,2479723.0,17127779.0,KEVIN L. CARLQUIST,04/28/2003,KEVIN,L.,CARLQUIST,NaN,2003-04-28
10,17367015.0,2008,15260514,2710075.0,17367015.0,RONALD G. WRIGHT,10/10/2000,RONALD,G.,WRIGHT,NaN,2000-10-10
11,17367015.0,2008,15260514,2710076.0,17367015.0,RONALD P. MALCZYNSKI,05/10/1999,RONALD,P.,MALCZYNSKI,NaN,1999-05-10
12,17127120.0,2008,14994007,2479020.0,17127120.0,ANTHONY L. RICHARDSON,09/13/1999,ANTHONY,L.,RICHARDSON,NaN,1999-09-13
13,17127120.0,2008,14994007,2479021.0,17127120.0,STEVEN E. BROCK,04/13/1998,STEVEN,E.,BROCK,NaN,1998-04-13
14,17127125.0,2008,14994008,2479028.0,17127125.0,TIMOTHY A. ULDRYCH,04/29/2002,TIMOTHY,A.,ULDRYCH,NaN,2002-04-29
15,17127125.0,2008,14994008,2479029.0,17127125.0,WILLIAM E. LEVIGNE,07/7/1997,WILLIAM,E.,LEVIGNE,NaN,1997-07-07
16,17132132.0,2008,14999420,2484108.0,17132132.0,DANIEL F. SAMMON,05/1/2006,DANIEL,F.,SAMMON,NaN,2006-05-01
17,17132132.0,2008,14999420,2484109.0,17132132.0,NADINE BAHENA,06/26/2006,NADINE,NaN,BAHENA,NaN,2006-06-26
18,17132133.0,2008,14999421,2484110.0,17132133.0,JOE A. HOLT,10/25/2004,JOE,A.,HOLT,NaN,2004-10-25
19,17132133.0,2008,14999421,2484111.0,17132133.0,TRACEY D. DREW,12/18/2006,TRACEY,D.,DREW,NaN,2006-12-18

## First attempt:
### 1. Narrow down the search space by doing an exact match on the appointed dates.
### 2. Try an exact, single match based on the names.

In [ ]:
matches = []

for i, oa in enumerate(df_officerarrests.iterrows()):
    oa_index = oa[0]
    oa_date = oa[1]['parsed_date']
    oa_full_name = oa[1]["OFFICER'S NAME"]
    date_matches = df_officers[df_officers['parsed_date'] == oa_date]
    name_matches = [({'id' : oa_index, 'full_name' : name, 'officer_id' : _id})\
                    for name,_id in zip(date_matches['full_name'],date_matches['id'])\
                    if name == oa_full_name]
    if len(name_matches):
        matches.append(name_matches[0])
    if not ((i + 1) % 10000):
        print('.', end='')
    if not ((i + 1) % 1000000):
        print('\n')

....................................................................................................

....................................................................................................

....................

In [ ]:
len(matches) / len(df_officerarrests)

In [ ]:
df_matches = pd.DataFrame(matches)

In [ ]:
df_matches

In [ ]:
df_matches.to_csv(os.getcwd() + os.sep + 'data' + os.sep + 'matches_v2.csv', index=False)

## Subset of IDs for which we still don't have matches:

In [ ]:
unmatched = set(df_officerarrests.index) - set(df_matches['id'])

In [ ]:
len(unmatched)

In [ ]:
len(df_officers['full_name'].unique())

## Second attempt:
### 1. Try a fuzzier match on the names using edit distance, assuming that typos could exist to some extent.
### 2. Establish a cutoff of 3 and retrieve the match with smallest edit distance.

In [ ]:
fuzzy_matches = []

for i,_id in enumerate(unmatched):
    missing_name = df_officerarrests.iloc[_id]["OFFICER'S NAME"]
    if type(missing_name) != str:
        continue
    scores = { candidate : distance(missing_name, candidate) for candidate in df_officers['full_name'].unique() }
    good_scores = { k : v for k, v in scores.items() if v <= 3 }
    if not len(good_scores):
        continue
    final_scores = sorted(good_scores.items(), key=lambda x: x[1])
    fuzzy_matched = final_scores[0][0]
    fuzzy_matches.append({ 'id' : _id,
                           'full_name' : fuzzy_matched,
                           'officer_id' : df_officers[df_officers['full_name'] == fuzzy_matched]['id'].values[0] })
    if not ((i + 1) % 3000):
        print('.', end='')

In [ ]:
len(fuzzy_matches) / len(unmatched)

In [ ]:
(len(fuzzy_matches) + len(matches)) / len(df_officerarrests)

In [ ]:
df_fuzzy_matches = pd.DataFrame(fuzzy_matches)

In [ ]:
df_fuzzy_matches

In [ ]:
df_fuzzy_matches.to_csv(os.getcwd() + os.sep + 'data' + os.sep + 'fuzzy_matches_v2.csv', index=False)

## Merge all matches with the original data